<div class="container mt-5">
    <div class="row">
        <div class="col-8 offset-2">
            <form id="form" class="p-3 mt-5 shadow border">
                <h2 class="text-center text-primary">Get into Products</h2>
                <input id="title" type="text" placeholder="Add title" class="form-control my-2">
                <input id="description" type="text" placeholder="Add description" class="form-control my-2">
                <input id="code" type="text" placeholder="Add code" class="form-control my-2">
                <input id="price" type="number" placeholder="Add price" class="form-control my-2">
                <input id="state" type="text" placeholder="Add state" class="form-control my-2">
                <input id="stock" type="number" placeholder="Add stock" class="form-control my-2">
                <input id="category" type="text" placeholder="Add category" class="form-control my-2">
                <button class="btn btn-primary mt-2" type="submit">Add Product</button>
            </form>
            <hr>
            <h4 id="listProducts" class="text-center fw-light"></h4>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/ui.js"></script>
<script src="/js/sockets.js"></script>
<script src="/js/main.js" ></script>